.header {
  width: calc(100vw);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
  .container {
    max-width: 1090px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
    color: #fff;
  }
  .user {
    display: flex;
    margin-left: 10px;
    .avatar {
      width: 60px;
      height: 60px;
      margin: 10px 20px 0 0;
      border-radius: 50%;
    }
    h1 {
      line-height: 38px;
      margin: 5px 0 0;
      font-size: 28px;
      color: #fff;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .menu {
    background: transparent;
    border-bottom: none;
    padding-top: 17px;
  }
  /deep/ .ant-menu-item-selected,
  .ant-menu-item-active {
    border-bottom: 2px solid #fc6404 !important;
  }
  /deep/ .ant-menu-horizontal {
    .ant-menu-item a {
      color: #fff;
      &:hover {
        color: #fc6404;
      }
    }
    .ant-menu-item-active a,
    .ant-menu-item-selected a {
      color: #fc6404;
    }
  }
}
