* {
    margin: 0;
    padding: 0;
}

.app {
    font-family: Arial, Helvetica, sans-serif;
    z-index: auto;
    .fixedH {
        height: 80px;
    }
    .cover-bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: 0 0;
        opacity: 0.7;
        z-index: -1;
    }
    @media screen and (max-width: 1070px) {
        .blog {
            width: 100%;
            .left,
            .article {
                width: 90%;
                margin: 0 auto;
            }
            .sidebar,
            .catalog {
                display: none;
            }
        }
    }
    @media screen and (min-width: 1070px) {
        .blog {
            width: 1070px;
            .left,
            .article {
                width: 700px;
                margin-right: 20px;
            }
            .sidebar,
            .catalog {
                display: block;
            }
        }
    }
}